<link rel="stylesheet" href="../css/libros.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="row">

    <!-- ############################# -->
    <!-- Los breakpoints de Bootstrap se pueden añadir a cols en seguida del tamaño dispositivo (sm, md, lg, xl, si no se especifica lo toma como default) y la cantidad de columnas que tendrá (del 1 al 12). -->
    <!-- ############################# -->

    <!-- <div class="col mb-2">
        <button type="button" class="btn btn-primary">Agregar nuevo libro</button>
    </div> -->

    <!-- ############################# -->
    <!-- Los breakpoints de Bootstrap se pueden añadir a cols en seguida del tamaño dispositivo (sm, md, lg, xl, si no se especifica lo toma como default) y la cantidad de columnas que tendrá (del 1 al 12). -->
    <!-- ############################# -->


    <div class="col-12 col-sm-2 col-md-10 mb-1 d-grid px-4">
        <input type="text" class="form-control form-control-lg" id="busqueda" placeholder="Buscar restaurante">
    </div>
</div>
</div>
<div class="table-responsive">
    <table class="table">
        <!-- <thead class="table-active">
            <tr>
                <th>id</th>
                <th>titulo</th>
                <th>autor</th>
                <th>fecha de publicacion</th>
                <th>portada</th>
                <th>resena</th>
            </tr>
        </thead> -->
        <tbody>
            <!-- ############################# -->
            <!-- En AngularJS el atributo directiva ng-if añade o elimina un elemento según un booleano dado por las variables de JavaScript (app.js que corresponda). -->
            <!-- ############################# -->
            <!-- <tr ng-if="spinnerTbody">
                <th colspan="4">
                    <div class="text-center p-3">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>
                </th>
            </tr>
             -->

        </tbody>
    </table>

    <div class="container">
        <div class="container py-3" style="max-width: 400px;">
  
            <div class="card mb-3 shadow-sm rounded-3">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3">
                        <span class="rounded-circle d-flex justify-content-center align-items-center" 
                            style="background:#ffebee; width:50px; height:50px; font-size:1.5rem;">
                            🍕
                        </span>
                    </div>

                    <div class="flex-grow-1">
                        <h6 class="mb-1 fw-bold">Pizzería Roma</h6>
                        <small class="text-muted">
                            ⭐ 4.5 • 25-30 min • $
                        </small><br>
                        <small class="text-success">🚚 Gratis</small>
                    </div>
                </div>
            </div>

            <div class="card mb-3 shadow-sm rounded-3">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3">
                        <span class="rounded-circle d-flex justify-content-center align-items-center" 
                            style="background:#fff8e1; width:50px; height:50px; font-size:1.5rem;">
                        🌮
                        </span>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1 fw-bold">Tacos El Rey</h6>
                        <small class="text-muted">
                            ⭐ 4.8 • 15-20 min • $$
                        </small><br>
                        <small class="text-success">🚚 $20</small>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm rounded-3">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3">
                        <span class="rounded-circle d-flex justify-content-center align-items-center" 
                            style="background:#f3e5f5; width:50px; height:50px; font-size:1.5rem;">
                        🍔
                        </span>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-1 fw-bold">Burger House</h6>
                        <small class="text-muted">
                            ⭐ 4.3 • 20-25 min • $$
                        </small><br>
                        <small class="text-danger">🚚 $35</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- ############################# -->
            <!-- En AngularJS el atributo directiva ng-if añade o elimina un elemento según un booleano dado por las variables de JavaScript (app.js que corresponda). -->
            <!-- ############################# -->
            <!-- ############################# -->
            <!-- En AngularJS el atributo directiva ng-repeat repite un elemento recorriendo un arreglo, con la capacidad de acceder a cada elemento mediante las variables de JavaScript (app.js que corresponda). -->
            <!-- ############################# -->
            <!-- <tr ng-if="!spinnerTbody" ng-repeat="libro in registros">
                <td scope="col">{{ libro.idLibro }}</td>
                <td scope="col">{{ libro.titulo }}</td>
                <td scope="col">{{ libro.Autor }}</td>
                <td scope="col">{{ libro.fechaPublicacion }}</td>
                
                <td scope="col" style="width: 1%; white-space: nowrap;"> -->

                    <!-- ############################# -->
                    <!-- En AngularJS el atributo directiva ng-if añade o elimina un elemento según un booleano dado por las variables de JavaScript (app.js que corresponda). -->
                    <!-- ############################# -->
                    <!-- ############################# -->
                    <!-- Dobles llaves para que AngularJS interprete las variables de JavaScript (app.js que corresponda). -->
                    <!-- ############################# -->
                    <!-- <img ng-if="libro.portada" src="data:image/png;base64,{{ libro.portada }}">
                </td>
                <td scope="col">{{ libro.resena }}</td>
            </tr>
        </tbody>
    </table> -->
</div>
